html, html * {
    font-family: 'Open Sans', 'Segoe UI', Arial, sans-serif;
    font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: 0;
}

input {
    background-color: #fff;
    border: 1px silver solid;
    border-radius: 4px;
    padding: 3px 8px;
}

.tree {
    background-color: #f0f0f0;
}

.header {
    margin: 0 0 5px 0;
    padding: 5px;
    font-size: 14pt;
    color: #3399EE;
    vertical-align: top;
}

.small {
    font-size: 10px;
}

.lfloat {
    float: left;
}

.rfloat {
    float: right;
}

.file_style {
}

.path_style {
    border-left: 3px #3399EE solid;
    font-weight: bold;
}

.CodeMirror {
    width: 100%;
    height: 100%;
}

.codemirror * {
    font-family: 'Droid Sans Mono', monaco, consolas, monospace;
    font-size: 10pt;
    line-height: 13pt;
}

.CodeMirror-scroll {
    height: 100% !important;
}

#filetree {
    display: block;
    margin: auto;
    width: 100%;
}

#filetree tr:hover, #filetree tr:even {
    background-color: #eee;
}

#filetree td {
    padding: 10px 3px 3px 6px;
    vertical-align: middle;
}

#filetree td img {
    margin-bottom: -2px;  /* icon shift */
}

#filetree tr td:first-child {
    width: 10%;
    min-width: 40px;
}

#filetree tr td:first-child + td {
    width: 60%;
}

#filetree tr td:first-child + td + td {
    width: 30%;
}